### Team 4:
### Group Task:


## Merge COVID-19 datasets

## Here we are merging three covid datasets 

- covid_confirmed_usafacts.csv 
    Gives info about no. of covid confirmed cases 
- covid_deaths_usafacts.csv 
    Gives info about no. of covid death cases
         
- covid_county_population_usafacts.csv
    Gives info about population in county and state

## Importing libraries

In [6]:
import pandas as pd

## Reading the covid19 dataset

In [7]:
f1 = pd.read_csv('../../../data/stage_1/covid_confirmed_usafacts.csv')
f2 = pd.read_csv('../../../data/stage_1/covid_deaths_usafacts.csv')
f3 = pd.read_csv('../../../data/stage_1/covid_county_population_usafacts.csv')

### Here, we replace the space between the column header names with an underscore.

In [8]:
f1.columns = f1.columns.str.replace(' ', '_')
f2.columns = f2.columns.str.replace(' ', '_')
f3.columns = f3.columns.str.replace(' ', '_')

### Use melt() function to convert the dataframe from wide to long format in confirmed cases and death cases .csv file

In [9]:
m1 = pd.melt(f1,id_vars=['countyFIPS','County_Name','State','StateFIPS'],var_name = 'Date',value_name='Confirmed')
m1

,countyFIPS,County_Name,State,StateFIPS,Date,Confirmed
0,0,Statewide Unallocated,AL,1,2020-01-22,0
1,1001,Autauga County,AL,1,2020-01-22,0
2,1003,Baldwin County,AL,1,2020-01-22,0
3,1005,Barbour County,AL,1,2020-01-22,0
4,1007,Bibb County,AL,1,2020-01-22,0
...,...,...,...,...,...,...
2388359,56037,Sweetwater County,WY,56,2022-02-07,10655
2388360,56039,Teton County,WY,56,2022-02-07,9477
2388361,56041,Uinta County,WY,56,2022-02-07,5523
2388362,56043,Washakie County,WY,56,2022-02-07,2234
2388363,56045,Weston County,WY,56,2022-02-07,1508

In [10]:
m2 = pd.melt(f2,id_vars=['countyFIPS','County_Name','State','StateFIPS'],var_name = 'Date',value_name='Deaths')
m2

,countyFIPS,County_Name,State,StateFIPS,Date,Deaths
0,0,Statewide Unallocated,AL,1,2020-01-22,0
1,1001,Autauga County,AL,1,2020-01-22,0
2,1003,Baldwin County,AL,1,2020-01-22,0
3,1005,Barbour County,AL,1,2020-01-22,0
4,1007,Bibb County,AL,1,2020-01-22,0
...,...,...,...,...,...,...
2388359,56037,Sweetwater County,WY,56,2022-02-07,119
2388360,56039,Teton County,WY,56,2022-02-07,15
2388361,56041,Uinta County,WY,56,2022-02-07,35
2388362,56043,Washakie County,WY,56,2022-02-07,41
2388363,56045,Weston County,WY,56,2022-02-07,17

#### Delete StateFIPS as population dataset don't have StateFIPS column.

In [7]:
del m1['StateFIPS']
del m2['StateFIPS']

#### Date is object datatype by default. So we use to_datetime() function to convert the Date to datetime format

In [11]:
m1['Date']=pd.to_datetime(m1['Date'])
m2['Date']=pd.to_datetime(m2['Date'])

#### Merge confirmed cases and death cases covid files

In [12]:
merge1 = pd.merge(m1,m2)
merge1

,countyFIPS,County_Name,State,StateFIPS,Date,Confirmed,Deaths
0,0,Statewide Unallocated,AL,1,2020-01-22,0,0
1,1001,Autauga County,AL,1,2020-01-22,0,0
2,1003,Baldwin County,AL,1,2020-01-22,0,0
3,1005,Barbour County,AL,1,2020-01-22,0,0
4,1007,Bibb County,AL,1,2020-01-22,0,0
...,...,...,...,...,...,...,...
2388359,56037,Sweetwater County,WY,56,2022-02-07,10655,119
2388360,56039,Teton County,WY,56,2022-02-07,9477,15
2388361,56041,Uinta County,WY,56,2022-02-07,5523,35
2388362,56043,Washakie County,WY,56,2022-02-07,2234,41
2388363,56045,Weston County,WY,56,2022-02-07,1508,17

### Convert County_Name to lowercase and remove extra spaces so it can be merged easily

In [13]:
merge1['County_Name'] = merge1['County_Name'].str.lower()
f3['County_Name'] = f3['County_Name'].str.lower()

merge1['County_Name'] = merge1['County_Name'].str.strip()
f3['County_Name'] = f3['County_Name'].str.strip()

### Finally, merging the population dataset

In [14]:
merge_final = pd.merge(merge1,f3)
merge_final

,countyFIPS,County_Name,State,StateFIPS,Date,Confirmed,Deaths,population
0,0,statewide unallocated,AL,1,2020-01-22,0,0,0
1,0,statewide unallocated,AL,1,2020-01-23,0,0,0
2,0,statewide unallocated,AL,1,2020-01-24,0,0,0
3,0,statewide unallocated,AL,1,2020-01-25,0,0,0
4,0,statewide unallocated,AL,1,2020-01-26,0,0,0
...,...,...,...,...,...,...,...,...
2346471,56045,weston county,WY,56,2022-02-03,1491,17,6927
2346472,56045,weston county,WY,56,2022-02-04,1496,17,6927
2346473,56045,weston county,WY,56,2022-02-05,1496,17,6927
2346474,56045,weston county,WY,56,2022-02-06,1496,17,6927
2346475,56045,weston county,WY,56,2022-02-07,1508,17,6927

## Exporting the merged file to csv

In [15]:
merge_final.to_csv('../../../data/stage_1/superdataset.csv',index = False)